@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="~/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <script id="instafeed-fetcher" src="https://api.instagram.com/v1/users/8987997106/media/recent?access_token=8987997106.924f677.8555ecbd52584f41b9b22ec1a16dafb9&amp;count=4&amp;callback=instafeedCache8a2741f1a3b0fd6e.parse"></script>
</head>
<body>
    <section>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card ">
                        <div class="card-body">
                            <h1>Login Page</h1>
                            <form class="" action="">
                                <input type="text" name="" id="" class="form-control my-4 py-2" placeholder="E-Mail or UserName">
                                <input type="text" name="" id="" class="form-control my-4 py-2" placeholder="Password">
                                <div class=" d-grid gap-2 mt-3">
                                    <button class="btn btn-lg btn-primary"><a href="#" class="nav-link">Login</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- THEME JAVASCRIPT FILES
     ================================================== -->
    <!-- initialize jQuery Library -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/plugins/slick-carousel/slick.min.js"></script>
    <script src="~/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="../maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
    <script src="~/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="~/js/custom.js"></script>

</body>
</html>